### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# התעלמות מכל קובצי ה-class המקומפלים
*.class

# התעלמות מכל תיקיית הפלט של המהדר (כמו target של Maven)
target/
bin/

# מסד הנתונים המקומי של השרת (נוצר בזמן ריצה, לא חלק מהקוד)
players.db

# התעלמות מכל קבצי הלוג
*.log

# התעלמות מתיקיית לוגים ייעודית (אם קיימת)
logs/
# התעלמות מכל קובץ שמכיל .log בתוך השם שלו (כמו .log.1 או .log.lck)
*.log*

# או התעלמות מכל הקבצים שמסתיימים ב-lck
*.lck